<table class="table">
    <tr>
        <td>
            <h3>Details for {{user.firstname}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>First Name</td>
        <td>{{user.firstname}}</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>{{user.lastname}}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{user.email}}</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>{{user.phone}}</td>
    </tr>
    <tr>
        <td>Age</td>
        <td>{{user.age}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" ui-sref="editUser({id:user.id})">Edit</a>
</div>
